<!-- <div class="example-container">
  <h2>Select up to 4 studies to compare</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
</div>
<div class="example-container">
  <div class="example-box">
  </div>
</div>

<div class="example-container">
  <h2>Selected studies to compare(Up to 4)</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">

    <div class="example-box-selected" *ngFor="let item of done; let i = index;" cdkDrag  >{{item}}
      <span><button mat-mini-fab color="warn" (click) = "deleteSelected(i)">
        <mat-icon class="mat-icon">delete_sweep</mat-icon></button>
      </span></div>
  </div>
  <div class="align-btn">
  <div>
    <button class="btn" mat-flat-button [ngStyle]="{'background-color':changeColor()}" [disableRipple] = "!toggle()">Compare</button>
    <button class="cncl-btn" mat-flat-button (click)="removeAllElement()">Cancel</button>
  </div>
  </div>
</div> -->

 <button mat-button (click)="openDialog()">Open dialog</button>